.card__read-more {
    display: inline-block;
    color: var(--theme-color-green);
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.card__read-more:hover,
.card__read-more:focus,
.card__read-more:active {
    opacity: .8;
    text-decoration: underline;
}
