/* BASE STYLES IN CSS */
:root {
    --theme-color-primary: #361281;
    --theme-color-green: #D5FF2F;
    --theme-color-light-text: #fff;
    --theme-color-pink: #FF2473;
    --theme-color-orange: #FF6F1F;
    --theme-color-teal: #54F2F2;
    --theme-color-light: #F9F9F9;
    --theme-color-dark: #000;

    --transition-on-hover: opacity .3s ease-in-out;

    --font-family-primary: 'Aspergit', sans-serif;
    --font-family-secondary: 'Futura PT', sans-serif;


    /*filter: blur(3px);*/
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1920px;
    /*width: 1920px;*/
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    background: var(--theme-color-primary);
    color: var(--theme-color-light-text);

    font-family: var(--font-family-secondary);
    font-weight: 300;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    max-width: 1620px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 287px;
    margin: 0 auto;
}


/* TEXT */
h1, h2, h3, h4, h5 {
    font-family: var(--font-family-primary);
    color: var(--theme-color-light-text);
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 7.0625rem;
    line-height: 117%;
    text-transform: uppercase;
}

h2 {
    font-size: 5.875rem;
    line-height: 117%;
    letter-spacing: -0.17625rem;
    text-transform: uppercase;
}

h3 {
    font-size: 3.375rem;
    line-height: 4.8125rem;
}

h4 {
    font-size: 2.75rem;
    line-height: 3.125rem;
    letter-spacing: 0.055rem;
}

h5 {
    font-size: 1.875rem;
    line-height: 1.875rem;
    letter-spacing: -0.0375rem;
}

.body-text {
    font-family: var(--font-family-secondary);
    color: var(--theme-color-light-text);
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.0625rem;
    letter-spacing: -0.075rem;
}

.small-text {
    font-family: var(--font-family-secondary);
    color: var(--theme-color-light-text);
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: -0.07rem;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--theme-color-light-text);
}

p {
    margin: 0;
    padding: 0;
    color: var(--theme-color-light-text);

}


/* UNORDERED LIST */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    /*width: 100%;*/
}

.heading_color_green {
    color: var(--theme-color-green);
}

.bg-transparent {
    background-color: var(--font-family-primary);
    opacity: 0;
}

.blur-on-scroll {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px var(--theme-color-dark);
    padding-bottom: 1.62rem;
    transition: all .3s ease;
}

.hide-on-scroll {
    transform: translateX(100px);
    transition: all 1s ease;
    visibility: hidden;
}

.show-on-mouseover {
    transform: translateX(0);
    transition: all .5s ease;
    visibility: visible;
}
